<div class="panel panel-default" >
  <div class="panel-heading">Lista de objetos</div>

   <tbody> 
  <table class="table">


    {{#each data}}

    <tr key={{this.id}} >
        <td> {{this.id}} </td>
        <td>{{this.nombre}} </td>
        <td>  ${{this.precio}} kg </td>
        <td>
       <img src= {{this.url}} alt="" height="50px"  >
        </td>
    </tr>
    {{/each}}
  </table>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
  <button> <a class="navbar-brand" href= "/" > Agregar producto </a> </button>
 </div>

 <div class="d-grid gap-2 col-6 mx-auto">
  <button> <a class="navbar-brand" href= "/chat.html" > chat </a> </button>
 </div>